{{ define "main" }}
  <section>
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    <div class="card-list">
      {{ range .Pages.ByDate.Reverse }}

         <article class="pub-entry">
            <div class="pub-icon-wrap">
              {{ with .Params.icon }}
                <img src='{{ printf "%s" . | relURL }}' alt="" class="pub-icon">
              {{ end }}
            </div>
      

            <div class="pub-body">
              <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              {{ with .Date }}<div class="meta">{{ .Format "02-01-2006" }}</div>{{ end }}
              {{ with .Params.summary }}<p>{{ . }}</p>{{ end }}

            </div>
          </article>

  
      {{ end }}
    </div>
  </section>
{{ end }}